.hero {
  height: calc(100vh - 56px);
  background-color: rgb(42, 58, 59);
}

.articles {
  height: 400px;
  background-color: rgb(145, 145, 145);
}
#carouselHome {
  height: calc(100vh - 56px);
}

.article-thumbnail-home {
  height: 100px;
  width: 200px;
  background-color: fuchsia;
}

.promozioni {
  height: 300px;
  background-color: rgb(126, 60, 71);
}

.griglia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "articoli articoli side"
    "gallery gallery side"
    "gallery gallery side";
}

.articoli{
    grid-area: articoli;
    background-color: #fff;
}

.side {
    grid-area: side;
    background-color: darkkhaki;
}

.gallery{
    grid-area: gallery;
    background-color: aquamarine;
}

@media screen and (max-width: 768px){
    .griglia {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "articoli articoli articoli"
          "gallery gallery gallery"
          "side side side";
      }
}