.hero {
  height: calc(100vh - 56px);
}

.articles {
  height: 400px;
  background-color: rgb(145, 145, 145);
}
#carouselHome {
  height: calc(100vh - 56px);
}



.bg404 {
  background-color: rgba(210, 187, 32, 0.746);
  background-image: url("/assets/img/404.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.promozioni {
  height: 300px;
  background-color: rgb(126, 60, 71);
}

.griglia {
  display: grid;
  grid-template-columns: 1fr 1fr 300px;
  /* grid-template-rows: 1fr 1fr 300px; */
  grid-template-rows: minmax(100px, max-content) 500px 0px;
  grid-template-areas:
    "articoli articoli side"
    "gallery gallery side"
    "gallery gallery side";
}

.articoli {
  grid-area: articoli;
  background-color: #fff;
}

.side {
  grid-area: side;
  background-color: darkkhaki;
}

.gallery {
  grid-area: gallery;
  background-color: #f4f3ef;;
}

@media screen and (max-width: 768px) {
  .griglia {
    grid-template-rows: minmax(100px, max-content) 1fr 0.5fr;
    grid-template-areas:
      "articoli articoli articoli"
      "gallery gallery gallery"
      "side side side";
  }
}


/* Custom CSS for page.php WP-10------------------- */

/* Search Bar Styling */

.featured-image {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.entry-title {
  color: #fff;
  z-index: 1;
}


/* Sidebar Widget Styling */
#sidebar-widget {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Off-canvas Menu Toggle */
#offcanvas-toggler {
    display: none;
}

@media (max-width: 991.98px) {
    /* Show off-canvas menu toggle for smaller screens */
    #offcanvas-toggler {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 9999;
        font-size: 24px;
        cursor: pointer;
    }
}

/* Hide main content area for off-canvas menu */
.offcanvas-open #main {
    display: none;
}

/* Styling for off-canvas menu */
.offcanvas-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #343a40;
    z-index: 9998;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
}

.offcanvas-menu a {
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.offcanvas-menu a:hover {
    background-color: #007bff;
}

.close-offcanvas {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* Define animations */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(70px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes fadeInRight {
  from {
      opacity: 0;
      transform: translateX(150px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

/* Apply animations to elements */
.custom-image-wrapper, .custom-list-wrapper, .custom-article-wrapper {
  opacity: 0; /* Start with opacity 0 */
  animation: fadeInRight 1s ease-out forwards; /* Apply the fadeInUp animation */
}

.custom-image-wrapper{
  max-height: 600px;
}

.featured-image {
  opacity: 0; /* Start with opacity 0 */
  animation: fadeInUp 1s ease-in forwards; /* Apply the fadeInUp animation */
}


/* fine page.php WP-10---------------------------*/


/* Francesco articolo */

.articleTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 5rem;
  white-space: nowrap;
  font-weight: bold;
}

.imgArticle {
  object-fit: cover;
  height: 20rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .articleTitle {
      font-size: 3rem; 
  }
}

/* Francesco articolo */

/* --------FOOTER START------------ */
footer{
  background-color: #f4f3ef;
}
footer ul{
  list-style: none;
}
footer ul{
  position: relative;
}
footer
footer .medium:first-child::after {
  content: " ";
  color:  #999;
  display: block;
  height: 1px;
  width: 120px;
  position: absolute;
  top: 30px;
  left: 30px;
  background: #999;
}
footer a{
  text-decoration: none;
}
footer a:link {
  color: #999;
}
 
 /* visited link */
footer a:visited {
   color: #999999ac;
 }
 
 /* mouse hover link */
footer a:hover {
   color: #b2b2b2;
 }
 
 /* selected link */
footer a:active {
   color: #b2b2b2;
 }

footer p{
    font-size: 12px;
    color: #afafaf;
 }

.accordion-button{
  background-color: #f4f3ef;
 }
.accordion-button:not(.collapsed) {
  background-color: #f4f3ef!important;
}
.accordion-body{
  background-color: #f4f3ef;
}
.accordion-button:focus {
  box-shadow:  0 0 0 0.25rem #999999ac;
}
/* --------FOOTER END------------ */

/* ------GALLERY START------------- */
.gallery {
  overflow-y: scroll;
}
.gallery .carousel-inner{
  height: 400px;
}
/* ---------GALLERY SCROLL-------- */
.gallery::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.gallery::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}
/* Handle */
.gallery::-webkit-scrollbar-thumb {
  background: #989898;
}

/* Handle on hover */
.gallery::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}
/* ------GALLERY END------------- */
/* ---------ARTICLE PATCH START-------------- */
.article-title-home a{
  text-decoration: none;
}
.article-title-home a:link {
  color: black;
}
 
/* visited link */
.article-title-home a:visited {
   color: #999999ac;
}
 
/* mouse hover link */
.article-title-home a:hover {
   color: #b2b2b2;
}
 
/* selected link */
.article-title-home a:active {
   color: #b2b2b2;
}

.stile{
  border: 1px solid #a09f9f38;
  padding: 10px;
}

.data{
  font-size: 0.8rem;
  color: #b8b8b8;
}

.titoloArticolo{
  color: white;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 70%);
  padding: 0.5rem;
}
/* ---------ARTICLE PATCH END-------------- */